<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities">ALL the celebrities</a>
<a href="/celebrities/create">Create a NEW celebrity</a>
<br>
<a href="/movies">ALL the movies</a>
<a href="/movies/create">Create a NEW movie</a>

